*{
    box-sizing: border-box;
    margin:0;
    padding:0;
}
body{
    background-color: black;
}
.fondo{
    width:100%;
    height:500px;
    background: rgb(131,58,180);
    background: linear-gradient(90deg, rgba(131,58,180,1) 15%, rgba(29,146,253,1) 60%, rgba(252,176,69,1) 100%);
    display:flex;
    align-items: center;
}
.img{
    width:300px;
    height:400px;
    background-image: url("https://cdn-icons-png.flaticon.com/512/4712/4712109.png");
    background-size:cover;
    background-position: center;
    margin:20px;
    margin-left:0;
    border-right: 5px solid black;
    border-radius:5px;
}
.opcion1{
    background-color: aqua;
    color:black;
    width:250px;
    height:50px;
    text-align: center;
    margin:auto;
    display:flex;
    justify-content: center;
    align-items: center;
    border:3px solid rgb(252, 172, 0);
    margin-top:50px;
}
.opcion1:hover{
    text-decoration: underline;
    background-color: rgb(4, 97, 97);
}
.fondo-title{
    width:100%;
}
h1{
    margin-left:20%;
    font-family: "Arial";
}
a{
    text-decoration: none;
    color:black;
}